{% extends 'base.html' %}

{% block head %}
    <title>
        Home
    </title>
{% endblock head %}

{% block content %}
    <h1>Home</h1>
    <a href="{% url 'create-product' %}">Create Product</a>
    <h3>Products:</h3>
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'button-click' %}">
        {% csrf_token %}
        <button name="source" value="clear">Clear Products</button>
    </form>
    
{% endblock content %}
